allow bluetooth_loader persist_file:dir search;
allow bluetooth_loader persist_file:file create_file_perms;
allow bluetooth_loader btnvtool_exec:file execute_no_trans;
allow bluetooth_loader fac_file:file getattr;

get_prop(bluetooth_loader, wifi_prop)
