allow dataservice_app runtime_event_log_tags_file:file { open read };
allow dataservice_app qtitetherservice_service:service_manager {add};

# SELinux
allow dataservice_app { netd_service dnsresolver_service }:service_manager find;
