allow kernel self:capability dac_override;
allow kernel asdf_data_file:file create_file_perms;
allow kernel asdf_data_file:dir { search write remove_name add_name };
allow kernel vfat:file { getattr open };
allow kernel kernel:capability chown;
allow kernel fac_file:file { open read };
allow kernel fac_file:dir search;

# Used for attaching external SD card block device as mass storage
allow kernel block_device:blk_file { read write };
allow kernel block_device:dir search;
