allow perfd self:capability fsetid;

allow perfd { sysfs_thermal sysfs_memory }:dir search;
allow perfd sysfs_thermal:file w_file_perms;

allow perfd sysfs_memory:file { read open write };

allow perfd perfd:capability sys_ptrace;
