# akmd09911
allow system_app system_data_file:file { open write setattr };
allow system_app device:chr_file ioctl;

# 4173796E635461736B202337
allow system_app { wificond perfprofd installd netd vold }:binder call;

# ndroid.settings
allow system_app proc_pagetypeinfo:file { read open getattr };
allow system_app sysfs_zram:file read;
