allow untrusted_app alarm_boot_prop:file { open read };
allow untrusted_app alarm_handled_prop:file read;
allow untrusted_app alarm_instance_prop:file read;
allow untrusted_app bg_boot_complete_prop:file read;
allow untrusted_app bg_daemon_prop:file read;
allow untrusted_app runtime_event_log_tags_file:file { open read };
allow untrusted_app { sysfs_net proc_asound sysfs_lowmemorykiller rootfs }:dir { read  open search };
allow untrusted_app { sysfs rootfs proc_vmstat proc_net_tcp_udp proc proc_zoneinfo proc_version bg_daemon_prop bg_boot_complete_prop alarm_instance_prop alarm_handled_prop proc_version wifi_prop }:file { open read };
allow untrusted_app hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app hal_memtrack_hwservice:binder call;
