allow vendor_init proc_dirty:file write;
allow vendor_init proc_dirty_ratio:file write;
allow vendor_init proc:file write;
allow vendor_init property_data_file:dir search;
allow vendor_init vendor_file:file execute_no_trans;
allow vendor_init system_data_file:lnk_file { create setattr unlink };
allow vendor_init proc_driver_audio:file write;
allow vendor_init proc_extra_free_kbytes:file write;
allow vendor_init fac_file:filesystem getattr;
allow vendor_init bluetooth_data_file:file setattr;
