allow vold persist_file:dir read;
allow vold asdf_data_file:dir { ioctl open read };
allow vold fac_file:dir { ioctl open read };
allow vold firmware_file:dir { ioctl open read };
allow vold hal_bootctl_hwservice:hwservice_manager find;
