allow vold persist_file:dir { read };

allow vold asdf_data_file:dir { read };

allow vold fac_file:dir { read };

allowxperm vold vold_device:blk_file ioctl 0x1271;
allowxperm vold vold_device:blk_file ioctl BLKROGET;
